<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>form_validation_ngMessages</title>
    <!-- CSS -->
    <!-- load bootstrap and add some custom css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css">
    <style>
    body {
        padding-top: 50px;
    }
    </style>
    <!-- JS -->
    <!-- load angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <!-- load ngmessages -->
    <script src="https://code.angularjs.org/1.3.9/angular-messages.js"></script>
    <!-- load our custom app -->
    <script src="app/app.js"></script>
</head>

<body class="container" ng-app="app" ng-controller="mainController as main">
    <!-- create the form -->
    <form name="userForm" novalidate>
        <!-- create the name field -->
        <div class="form-group" ng-class="{ 'has-error': userForm.username.$touched && userForm.username.$invalid }">
            <label>Name</label>
            <input type="text" class="form-control" name="username" ng-model="main.username" ng-minlength="4" ng-maxlength="15" required />
        </div>
        <!-- create the email field -->
        <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
            <label>Email</label>
            <input type="email" class="form-control" name="email" ng-model="main.email" ng-minlength="5" ng-maxlength="25" required />
        </div>
        <!-- submit button -->
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <!-- ngMessage validation -->
        <div class="help-block" ng-messages="userForm.username.$error" ng-show="userForm.username.$touched">
            <p ng-message="minlength">Your name is too short.</p>
            <p ng-message="maxlength">Your name is too long.</p>
            <p ng-message="required">Your name is required.</p>
        </div>
        <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched">
            <p ng-message="minlength">Your name is too short.</p>
            <p ng-message="maxlength">Your name is too long.</p>
            <p ng-message="required">Your name is required.</p>
        </div>
    </form>
    <pre>userForm.username.$error = {{ userForm.username.$error | json }}</pre>
    <pre>userForm.email.$error = {{ userForm.email.$error | json }}</pre>
</body>

</html>
